@media (max-width: 426px) {
.section1_full{
  display: none;
}
.section1{
  display: block;
}
.small{
  display: block;
}
.full{
  display: none;
}
/* .section0{
  display: block;
}
.section{
  display: none;
} */
}
@media (min-width: 426px) {
  .section1_full{
    display: block;
  }
  .section1{
    display: none;
  }
  .small{
    display: none;
  }
  .full{
    display: block;
  }
  /* .section0{
    display: none;
  }
  .section{
    display: block;
  } */
  }
.card1:hover {
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
    transform: translateY(-5px);
  }
.img_card{
  width: 100%;
  border-radius: 10px;
}
.hover{
  transform: scale(1.1);
  transition: all 0.3s;
}
.div_images{
  overflow: hidden;
  border-radius: 10px;
}
.div_images2{
  border-radius: 10px;
}
body{
  font-family: Arial, Helvetica, sans-serif !important;
}
.playstore{
  background-image: url("../images/playstore.webp");
  background-size:cover ;
}
.playstation{
  background-image: url("../images/playstationback.webp");
  background-size:cover ;
}
.playstore1{
  /* background-image: url("../images/869.webp"); */
  background-color: black;
  background-size:cover ;
}
.new_letter{
  border-radius: 10px;
}
.new_letter img{
  border-top-left-radius:10px;
  border-top-right-radius:10px;

}
.animation1{
  min-height: 50px;
  position: absolute;
  left: 12px;
  top: -4px;
background: linear-gradient(to top right, #F3B939 35%, #73D04B 65%);

}
.animation2{
  min-height: 50px;
  position: absolute;
  right: 12px;
  bottom: -4px;
background: linear-gradient(to top right, #F3B939 35%, #73D04B 65%);
  
}

.div_news{
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;


}
.news{
  color: white;
}
.warrior{
  background-image: url("../images/warrior.webp");
  background-size:cover ;
}
.card_custom{
  border-radius: 10px;
  color: white;
  min-height: 110px;
}
.a_tag{
  text-decoration: none !important;
}
del{
  color: gray;
}
.card-back{

  border-radius: 10px !important;
}
.price{
  color: red;
  font-weight: bold;

}

.discount{
  float: right !important;
  background: #639;
  color: white;
  font-weight: 700;
  padding: 0 0.5rem;
  border-radius: 0.5rem;

}
  .card2{
            background-color: #191919 !important;
            border-radius: 10px;

      /* max-height: 400px; */
  }
  .img_div{
    width: 100%;
  }
  .card_div:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    transform: translateY(-10.5px);
    transition: linear 0.3s !important;
    border-radius: 10px;

  }
  .card2:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    border-radius: 10px;


    

  }
  .card2 .card-body img{
      width: 100%;
      max-height: 300px;
      border-radius: 10px;
  }
  .footer {
      margin:2px 0px 0px 0px;
     background: rgba(0, 0, 0, 0.8);
     color: white;
     border-radius: 10px;
  }
 
  .card1{
      padding: 10px;
      border-radius: 5px;
      color:white;
      min-height: 130px;
      background-color: black;
  }
  .card-body{
      text-align: center;
      padding: 0.1rem 0.1rem !important;
      border-radius: 5px;
  }

  .card-body img{
      width: 100%;
  }
  .carousel-indicators{
      display: none !important;
  }
.navbar{
    margin-bottom: 0px !important;
}
.image{
    width: 100%;
}
.text{
    float: right;
    color: white;
    font-size: 25px !important;
    font-weight: bolder !important;
}
.games{
    background-color: 	#3e3f41;
}
.btn-name{
    color: white;
}
.btn-primary{
    background-color: black;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #73D04B, #F3B939);
    font-size: 20px;
    border-image-slice: 1;
}
.btn-primary:hover{
/* background:linear-gradient(to right, green, #ffff00); */
background: rgba(0, 0, 0, 0.8);
color: white;

}
.div_hover1 img{
  border:4px solid #404040;
}
.div_hover2 img{
  border:4px solid #404040;
}
.div_hover1 img:hover{
  border:none;
}
.div_hover2 img:hover{
  border:none;
}

.div_hover1:hover
{
    /* background: linear-gradient(
45deg, var(green) 15%, var(yellow) 65%); */
background: linear-gradient(to top right, #F3B939 15%, #73D04B 65%);

    transform: translateY(-7.5px);
  

}

.div_hover2:hover
{
    /* background: linear-gradient(
45deg, var(green) 15%, var(yellow) 65%); */
background: linear-gradient(to top right, #F3B939 15%, #73D04B 65%);

    transform: translateY(-7.5px);
  transition: all 0.3s;

}
.section1{
  background: 	#181818;
}
.games1{
  background:	#303030 !important;
}
.section2{
  background: #404040;
}
.section4{
  background: 	#181818;
}
.section5{
  background: 	#484848;
}
.section6{
background: 		#202020;
}
.section7{
background: #282828;
}



  /* product carousil */
  .mixedSlider {
    position: relative;
  }
  .mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  .mixedSlider .MS-content .item {
    display: inline-block;
    /* width: 33.3333%; */
    width: 20%;

    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 10px 10px;
  }
  @media (max-width: 991px) {
    .mixedSlider .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider .MS-content .item {
      width: 35%;
    }
    .mixedSlider .MS-controls button {
      top:35px !important;
    }
  }
  .mixedSlider .MS-content .item .imgTitle {
    position: relative;
  }
  .mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  .mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  .mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  .mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  .mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  .mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 50px;
    color: white;
    transition: 0.15s linear;
  }
  .mixedSlider .MS-controls button:hover {
    color: gold;
  }
  .img_a{
      padding: 5px;
  }
  .img_a:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    transform: translateY(-7.5px);
    
  }
  @media (max-width: 992px) {
    .mixedSlider .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider .MS-controls button {
      font-size: 20px;
    }
  
  }
  @media (max-width: 375px) {
    .mixedSlider .MS-content .item {
      width: 50% !important;
    }
    .mixedSlider .MS-controls button {
      top:35px !important;
    }
  }
  .mixedSlider .MS-controls .MS-left {
    left: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider .MS-controls .MS-left {
      left: -10px;
    }
  }
  .mixedSlider .MS-controls .MS-right {
    right: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider .MS-controls .MS-right {
      right: -10px;
    }
  }


  /* mixslider2 */
  .mixedSlider2 {
    position: relative;
  }
  .mixedSlider2 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  .mixedSlider2 .MS-content .item {
    display: inline-block;
    /* width: 33.3333%; */
    width: 20%;

    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 10px 10px;
  }
  @media (max-width: 991px) {
    .mixedSlider2 .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 375px) {
    .mixedSlider2 .MS-content .item {
      width: 50% !important;
    }
    .mixedSlider2 .MS-controls button {
      top:45px !important;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider2 .MS-content .item {
      width: 35%;
    }
    .mixedSlider2 .MS-controls button {
      top:35px !important;
    }
  }
  .mixedSlider2 .MS-content .item .imgTitle {
    position: relative;
  }
  .mixedSlider2 .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  .mixedSlider2 .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  .mixedSlider2 .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  .mixedSlider2 .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  .mixedSlider2 .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  .mixedSlider2 .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 50px;
    color: white;
    transition: 0.15s linear;
  }
  .mixedSlider2 .MS-controls button:hover {
    color: gold;
  }
  .img_a{
      padding: 5px;
  }
  .img_a:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    transform: translateY(-7.5px);
    
  }
  @media (max-width: 992px) {
    .mixedSlider2 .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider2 .MS-controls button {
      font-size: 20px;
    }
  }
  .mixedSlider2 .MS-controls .MS-left {
    left: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider2 .MS-controls .MS-left {
      left: -10px;
    }
  }
  .mixedSlider2 .MS-controls .MS-right {
    right: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider2 .MS-controls .MS-right {
      right: -10px;
    }
  }

  /* productcarousil */


  /* product carousil */
  .mixedSlider3 {
    position: relative;
  }
  .mixedSlider3 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 1%;
  }
  .mixedSlider3 .MS-content .item {
    display: inline-block;
    /* width: 33.3333%; */
    width: 20%;

    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 10px 10px;
  }
  @media (max-width: 991px) {
    .mixedSlider3 .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider3 .MS-content .item {
      width: 100%;
    }
    .mixedSlider3 .MS-controls button {
      top:80px !important;
    }
  }
  .mixedSlider3 .MS-content .item .imgTitle {
    position: relative;
  }
  .mixedSlider3 .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  .mixedSlider3 .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  .mixedSlider3 .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  .mixedSlider3 .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  .mixedSlider3 .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  .mixedSlider3 .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 50px;
    color: white;
    transition: 0.15s linear;
  }
  .mixedSlider3 .MS-controls button:hover {
    color: gold;
  }
  .img_a{
      padding: 5px;
  }
  .img_a:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    transform: translateY(-7.5px);
    
  }
  @media (max-width: 992px) {
    .mixedSlider3 .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider3 .MS-controls button {
      font-size: 20px;
    }
  
  }
  @media (max-width: 420px) {
    .mixedSlider3 .MS-content .item {
      width: 100% !important;
    }
 
  }
  .mixedSlider3 .MS-controls .MS-left {
    left: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider3 .MS-controls .MS-left {
      left: -10px;
    }
  }
  .mixedSlider3 .MS-controls .MS-right {
    right: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider3 .MS-controls .MS-right {
      right: -10px;
    }
  }
/* carousil end  */

 /* product carousil */
  .mixedSlider4 {
    position: relative;
  }
  .mixedSlider4 .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 1%;
  }
  .mixedSlider4 .MS-content .item {
    display: inline-block;
    /* width: 33.3333%; */
    width: 20%;

    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 10px 10px;
  }
  @media (max-width: 991px) {
    .mixedSlider4 .MS-content .item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider4 .MS-content .item {
      width: 100%;
    }
    .mixedSlider4 .MS-controls button {
      top:80px !important;
    }
  }
  .mixedSlider4 .MS-content .item .imgTitle {
    position: relative;
  }
  .mixedSlider4 .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  .mixedSlider4 .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
  }
  .mixedSlider4 .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  .mixedSlider4 .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  .mixedSlider4 .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
  }
  .mixedSlider4 .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 50px;
    color: white;
    transition: 0.15s linear;
  }
  .mixedSlider4 .MS-controls button:hover {
    color: gold;
  }
  .img_a{
      padding: 5px;
  }
  .img_a:hover{
    background: linear-gradient(to top right, #ffff00 15%, #008000 65%);
    transform: translateY(-7.5px);
    
  }
  @media (max-width: 992px) {
    .mixedSlider4 .MS-controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    .mixedSlider4 .MS-controls button {
      font-size: 20px;
    }
  
  }
  @media (max-width: 420px) {
    .mixedSlider4 .MS-content .item {
      width: 100% !important;
    }
 
  }
  .mixedSlider4 .MS-controls .MS-left {
    left: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider4 .MS-controls .MS-left {
      left: -10px;
    }
  }
  .mixedSlider4 .MS-controls .MS-right {
    right: 0px;
  }
  @media (max-width: 767px) {
    .mixedSlider4 .MS-controls .MS-right {
      right: -10px;
    }
  }





  /* carousil */
 
  
 
  /* carousil end */


