@media screen and (max-width: 991px) {
    .navbar-collapse .dropdown-menu{
         
      width: 100%;
            border-bottom:none!important;
    }
    .gm-header{
        
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: 400 !important;
    line-height: 1.5 !important;
 
    }
    #navbarSupportedContent{
        height: calc(100vh - 50px) !important;
        overflow-y: auto !important;
        position: absolute !important;
    top: 56px !important;
    width: 100%  ;
    background: black !important;
    left: 0px !important;
    z-index: 2 !important;
    display: none !important;

    } 
    #navbarNav{
        margin-bottom: 20px !important;
    }
    .mob-nav-icon{
        position: absolute !important;
        right: 15px  !important;
        top: 20px !important;
        font-size: 26px !important;
        padding: 0;
    }
    .browse{
    background-color: #fff !important;
    color: black !important;
}
.browse-text-1{
    font-size: 15px !important;
    color: #5A5A5A !important;
}
.active{
    color: #fff !important;
}
.new-head{
    color: white!important;
    border-bottom: 1px solid  #5A5A5A ;
}
}

@media screen and (min-width: 0px) and (max-width: 767px)
{

    .helpDropBox .dropdown-menu {
 
    border-bottom:none!important
    }   
}
@media screen and (min-width:990px){
    .mobile_menu1{
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px){
.header-right {
    width: 100% !important;
}
.navbar-nav{
    justify-content: center;
    padding-right: 15px;
}
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
    margin: 0 0 0 25px;
}

@media screen and (min-width: 991px){
    #mobile_menu1{
        display: none;
    }
}
#mobile_menu1{
    position: absolute;
    width: 250px;
    height: 100vh;
    color: white;
    background-color: #212121;
    right: -290px;
    top: 55px;
    transition: 0.6s;
  }
  #mobile_menu1 ul{
      list-style-type: none;
      text-align: right;
      padding: 0;
  }
  #mobile_menu1 ul li{
      padding: 8px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  #mobile_menu1 .nav-link{
      text-decoration: none;
      color: white !important;
  }
  .mob-menu-icons{
        position: absolute;
        left: -38px;
        background-color: rgba(0,0,0,0.5);
  }
  .mob-menu{
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100vh;
  }
  .mob-menu .user-dp{
    width: 40px;
    height: 40px;
    
  }
  .mob-menu .user-dp img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
  }
  #sub_menu{
      position: absolute;
      top: 55px;
      width: 250px;
      height: 100%;
      background-color: #212121;
      left: -250px;
      transition: 0.4s;
  }
  #sub_menu .backto_menu{
      text-align: left;
    padding: 15px;
    background-color: #151515;
  }


  .profile-submit{
    position: relative ;
    }
.profile-dropdown-section{
    text-align: right;
}
    .profile_detials{
        padding: 10px 15px;
        position: absolute;
        background-color: #222222;
        color: white;
        top: 40px;
        right: -42px;
        width: 320px;
        display: none;
        transition: 0.3s;
        border: 1px solid #383838;
        border-radius: 5px;
    }
    .profile_detials .user-info-box{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #343434;
        padding: 10px;
        border-radius: 0.5rem;
        flex-direction: row-reverse;
    }
    .profile_detials .user-dp{
        height: 50px;
            width: 50px;
            border-radius: 50%;
            overflow: hidden;
    }
    .profile_detials .user-dp img{
        height: 100%;
        width: 100%;
    }
    .profile_detials .user-info {
        text-align: right;
        margin-right: 15px;
        width: calc(100% - 70px);
    }
    .profile_detials .user-info .user-name p{
        margin-bottom: 0px;
        color: #ffffff;
        line-height: 20px;
        font-weight: 600;
    }
    .profile_detials .user-info .user-mail p{
        margin-bottom: 0px;
        color: #ffffff;
        line-height: 20px;
    }
    .profile_detials .user-menu-inner .currency-info {
        margin-top: 10px;
        text-align: center; 
    }
    .profile_detials .user-menu-inner .currency-info .currency-item img {
        height: 18px;
        width: 18px; 
    }
    .profile_detials .currency-info .menu-curr-btn {
            width: 100%;
            margin-top: 12px; 
            font-size: 16px;
        }
    .profile_detials .user-menu-inner .currency-info .menu-curr-btn a {
            width: 100%;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            display: inline-block;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            opacity: 1;
            border-radius: 3px;
            color: #000; 
        }
    .profile_detials .user-menu-inner .currency-info .menu-curr-btn a.reloadBtn {
            background-color: #ffb400;
         }
         .profile_detials .user-menu-inner .currency-info .menu-curr-btn a.redeemBtn {
            background-color: #37b659; 
        }
        .profile_detials .user-menu-inner .view-detail-btn a {
            font-size: 14px;
            color: #bbb;
            text-decoration: none;
    }
    .profile_detials .user-menu-inner .view-detail-btn a i {
        margin: 0px 10px; }
        .profile_detials .user-menu-inner .view-detail-btn a:hover {
            background: linear-gradient(312deg, #F3B939, #73D04B);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            outline: none;
    }
    .profile_detials .user-menu-inner .complete-prof p {
        font-size: 15px;
        text-align: left;
        text-align: center; 
    
    }
    .profile_detials .user-menu-inner .complete-prof p img {
        height: 18px;
        width: 18px;
     }
     .profile_detials .user-menu-inner .complete-prof .complete-prof-btn {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center; 
    }
    .profile_detials .user-menu-inner .complete-prof .complete-prof-btn a {
        background-color: #1d1d1d;
        color: #fff;
        border: 1px solid #555;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        width: 240px;
        height: 30px;
        line-height: 27px;
        border-radius: 3px;
        font-size: 16px;
        text-decoration: none;
        display: block; 
    }
    .profile_detials .user-menu-inner .gtm-header-profile {
        font-size: 15px !important;
        margin: 0px 0px !important; 
    }
    .profile_detials .profile-dropdown-section{

    }
    .custom-dropdown{
        position: absolute;
        list-style-type: none;
        background-color: black;
        padding: 15px 0px;
        border: 2px solid #212121;
        top:38px;
        left: 0;
        display: none;
        color: white;
        border-radius: 5px;
    }
    .custom-dropdown a{
        text-decoration: none;
    }
    .dropdown-item{
        font-size: 18px;
        padding: 5px 5px 0px 25px !important;
        text-align: right;
        color: white;
    }