@media screen and (max-width: 991px) {
    .navbar-collapse .dropdown-menu{
         
      width: 100%;
            border-bottom:none!important;
    }
    .gm-header{
        
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: 400 !important;
    line-height: 1.5 !important;
 
    }
   
   
  

    .navbar .collapse .navbar-nav .nav-item .nav-link {
    
}
/* .hide{
    display: none !important;
} */
    #navbarSupportedContent{
        height: calc(100vh - 50px) !important;
        overflow-y: auto !important;
        position: absolute !important;
    top: 56px !important;
    width: 100%  ;
    background: black !important;
    left: 0px !important;
    z-index: 2 !important;
    display: none !important;

    } 
    #navbarNav{
        margin-bottom: 20px !important;
    }
    .browse{
    background-color: #fff !important;
    color: black !important;
}
.browse-text-1{
    font-size: 15px !important;
    color: #5A5A5A !important;
}
.active{
    color: #fff !important;
}
.new-head{
    color: white!important;
    border-bottom: 1px solid  #5A5A5A ;
}
}

@media screen and (min-width: 0px) and (max-width: 767px)
{

    .helpDropBox .dropdown-menu {
 
    border-bottom:none!important
    }   
}
@media screen and (min-width:990px){
    .mobile_menu1{
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px){
.header-right {
    width: 100% !important;
}
.navbar-nav{
    justify-content: center;
    padding-right: 15px;
}
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    margin: 0 0 0 25px;
}
#mobile_menu1{
    position: absolute;
    width: 250px;
    height: 100vh;
    color: white;
    background-color: black;
    right: -250px;
    top: 0;
    overflow: hidden;
    transition: 0.6s;
  }
  #mobile_menu1 ul{
      list-style-type: none;
      text-align: right;
      margin-top: 2rem;
      padding: 0;
  }
  #mobile_menu1 ul li{
      padding: 8px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  #mobile_menu1 .nav-link{
      text-decoration: none;
      color: white !important;
  }
  #sub_menu{
      position: absolute;
      top: 0;
      width: 250px;
      height: 100vh;
      background-color: black;
      left: -250px;
      transition: 0.4s;
  }
  #sub_menu .backto_menu{
      text-align: left;
    margin-top: 20px;
    padding: 15px;
    background-color: #202020;
  }